# Logs
npm-debug.log*

# Gradle storage
.gradle

# Dependency directories
/node_modules/

# Build files not needed in js release
/build/*
!/build/node_modules/*


# Optional npm cache directory
.npm

# dotenv environment variables file
.env

